
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="https://www.sodimac.com.mx/static/contenido/serviciohogar/images/headers/muebles/Servicio-Armado-de-Muebles.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Nuestro Equipo de Trabajo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ex id nihil quod expedita quis aliquid nulla molestiae hic, ducimus perspiciatis esse similique sapiente quos? Error obcaecati dolor voluptatum deserunt!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://www.sodimac.com.mx/static/contenido/serviciohogar/images/service/vit2-armado-muebles.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Descuentos y Promos</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quidem optio blanditiis minus explicabo sapiente sed dolorum, magni incidunt eligendi maxime, quia quis consequatur ut nostrum deserunt accusamus delectus voluptatem!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://www.muebledeespana.com/media/26845/doca_magma-ata_cabecera.jpg?anchor=center&mode=crop&width=1120&heightratio=0.3225806451612903225806451613&quality=80&slimmage=true&rnd=131922034830000000" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Nuestro Servicio al Mejor Precio</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt perferendis aliquid, sequi nam dicta eum sit veritatis fugiat deleniti explicabo fuga iusto sapiente et consequatur obcaecati, voluptates ullam quibusdam ducimus.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-dark">
      <h1 class="text-center">
    ¿Por qué elegirnos a nosotros?
      </h1>
      <ul class="list-group">
        <li class="list-group-item">Experiencia en el negocio</li>
        <li class="list-group-item">Equipo de alta calidad</li>
        <li class="list-group-item">Comprometidos con la calidad</li>
        <li class="list-group-item">Enfocados en la atención al cliente</li>
        <li class="list-group-item">Ofrecemos valor agregado</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-md-4 my-5">
      <div class="card">
        <img
          src="https://d2jhl5pzkfi24b.cloudfront.net/article_image/0001/04/de9ccfa022c45ca2451976bc3ec43a75dcd75c51.jpeg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Instalaciones Electricas</h5>
          <p class="card-text">Comprometidos con la calidad, seguridad y puntual finalización de nuestros proyectos. Buscamos soluciones a las necesidades presentes y futuras de nuestros clientes.</p>
          <a href="/home" class="btn btn-warning">Ver Página</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-5">
      <div class="card">
        <img src="https://blog.tecnocasa.es/wp-content/uploads/material-para-pintar-la-casa.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Pintura de Hogares</h5>
          <p class="card-text">Trabajos integrales de pintura en interior y exterior. Dominamos todas las técnicas. Cumplimos los plazos de ejecución pactados y trabajamos con calidad, rapidez y limpieza.</p>
          <a href="/sector" class="btn btn-warning">Ver Página</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-5">
      <div class="card">
        <img src="https://fixner.com/wp-content/uploads/2014/12/como-hacer-un-presupuesto-2.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Solicita un presupuesto</h5>
          <p class="card-text">Presupuesto a medida. Respuesta rápida. Al mejor precio. Profesionalidad.</p>
          <a href="/formulario" class="btn btn-warning">Ver Página</a>
        </div>
      </div>
    </div>


  </div>
</div>
