<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1 text-dark fw-bold">Realizamos mediciones en los tableros electricos.</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis delectus quis iure incidunt alias consequatur tempore voluptatem hic accusamus expedita libero eligendi inventore molestiae error distinctio debitis, sequi obcaecati. Provident.
    Quidem alias, nesciunt sint quisquam reprehenderit veritatis doloremque. Nemo tempora itaque nesciunt earum aut, alias ipsa hic inventore iste autem. Officia quaerat blanditiis doloremque soluta excepturi ullam cupiditate cum natus.</p>
  </div>
  <div class="col-md-5">
    <img src="https://electricossuramerica.com/elecsura/wp-content/uploads/2017/06/tipos-de-instalaciones-electricas.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
    </img>

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1 text-dark fw-bold">Distribuciones de tendido eléctrico para vivienda unifamiliar.</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consectetur debitis nobis voluptas cum recusandae quod error expedita ratione enim maxime magnam ad, eligendi delectus, natus mollitia quisquam est dolore!
    Accusamus odit quidem unde iure vel repudiandae dolorum error, autem deserunt minima consequatur eos asperiores reprehenderit nihil ipsam tempore! Fugiat quibusdam culpa quasi ea inventore totam neque nam aliquid quod!</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="https://www.electricasas.com/wp-content/uploads/20070822klpingtcn_57_ees_lco.png" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
    </img>

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1 fw-bold">Ahorro de energía eléctrica. <span class="text-dark">¡Súamte!.</span></h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos maxime aspernatur id, dolorem molestiae omnis nam quia perspiciatis quas, ea qui. Voluptatum dolores rem ab commodi ullam maxime praesentium eum?
    Repellat nisi adipisci perferendis magnam eaque quis delectus saepe harum iusto inventore! Laudantium architecto autem quis, incidunt amet rem est in voluptatibus magni veritatis perspiciatis vitae quam deleniti, hic omnis.
    </p>
  </div>
  <div class="col-md-5">
    <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2021/09/10/16312785185413.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
    </img>

  </div>
</div>
