body {
    background: url(https://i.pinimg.com/564x/f2/fb/05/f2fb05e701348b07709b48da91f97af9.jpg);
}

.container2{
    margin: 80px 20px 10px;

}


.featurette{
    color: antiquewhite;
    margin-top: 100px;
    padding: 20px;
}


